* {
  padding: 0;
  margin: 0;
}
body {
  background: url("images/mainback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  overflow: hidden;
  background-color: rgb(187, 139, 255)
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.box {
  width: 100%;
}
/*Main Content box*/
.navigate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}
#logo {
  height: 3rem;
}
#name {
  font-size: 2rem;
  color: #fff;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  /* margin:0% 0% 0% 30%; */
  height: inherit;
}
#name_and_logo {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}
.sub_navigation {
    margin: 1rem 0rem;


}
.classes {
  display: inline-flex;
  border: solid 1px rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
}
.classes:hover{
    transform: scale(1.1);
}


@media (max-width: 768px) {
  .profile {
    padding-top: 25%;
  }
  .box {
    height: 100vh;
  }

  body {
    background: url("images/phone.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(187, 139, 255)

  }
  .profile {
    color: #fff;
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
  }
  .navigate {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #name{
      font-size: 1.3rem;
  }
  .navigation {
    padding: 0;
    margin: 0;
  }
  .sub_navigation {
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
